<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>@Messages("project.title")</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
</head>
<body ng-app="VlilleStatus">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">Vlille Status</a>
                    <div class="nav-collapse collapse">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="content">
        <div ng-view></div>
    </section>

    <footer>
        <p><a href="http://twitter.com/ojacquemart">@@ojacquemart</a></p>
    </footer>
</body>
</html>